* {
    padding: 0%;
    margin: 0%;
}

nav {

    background-color: rgb(35, 39, 167);
    text-align: center;
}

nav a {
    color: rgb(234, 41, 7);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 45px;
    display: inline-block;
}

nav a:hover {
    color: white;
    background-color: green;
}

body {
    background-size: 100%;
}

h2 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
main{
    text-align: center;
    background-color: antiquewhite;
}

a.btn {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    background-color: rgb(245, 239, 239);
    padding: 20px;
    color: rgb(255, 60, 1);

}

a.btn:hover {
    background-color: yellow;
    color: rgb(11, 11, 11);
}
.back img {
    margin: 0 40% ;
    width: 20%;
    height: 20%;
}
.back{
    background-color: antiquewhite;
}